.loginDesign {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 85vh;
    width: 100vw;

    background-color: rgb(63, 110, 199);
}

.loginButtonDesign {

    height: 3em;
    width: 8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(3, 23, 154);
    cursor: pointer;
    margin: 30px;
    border-radius: 1em;

    transition: 0.3s;
}

.loginButtonDesign:hover {

    transition: 0.3s;
    background-color: rgb(0, 13, 96);
}

.errorText{

    color:red;
}