.inputDesign {
    height: 3em;
    width: 20em;
    border-radius: 5px;
    background-color: rgb(75, 158, 240);
    color: black;
}

::placeholder{
    color:black;
}
p{
    text-decoration: underline;
}
