.profileDesign {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100vw;
    background-color: rgb(63, 110, 199);
    color:bisque;
}

.profileCard{
    height: 70vh;
    width: 27vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(3, 23, 154);
    border-width: 5px;
    border-style: solid;
    border-color: black;
}

#cabecera{
    font-size: 30px;
}

p{
    color: azure;
    font-size: 20px;
}